{% extends 'base.html.twig' %}

{% block css %}
      <link rel='stylesheet' type='text/css' media='all' href='{{ asset('bundles/surgeworkscore/css/layout.css') }}' />
{% endblock %}

{% block js %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

{% block body %}
    <header>{% block header %}{% endblock %}</header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer class="site-footer">
        Footer
    </footer>
{% endblock %}
