<input type="hidden" id="news-read-all" value="{{ path('news_form_action') }}" />
<div id="news-items-container">
    <ul style="font-weight:bold; background-color: whitesmoke;" id="news-items"></ul>
</div>